<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>About Mood Journal</title>
</head>
<body>
    <!-- Header Section -->
    <header>
        <h1>About Mood Journal</h1>
    </header>

    <!-- Description of Project Inspiration -->
    <section id="project-inspiration">
        <h2>Inspiration</h2>
        <p>The project was inspiried by my girlfriend who lives with Bipolar 2, which is a mood disorder. Bipolar II disorder is diagnosed when a person has a pattern of depressive and hypomanic episodes but not full-blown manic episodes as in bipolar I disorder. We thought it was a good idea to keep track of her mood one afternoon after a doctors visit.</p>
    </section>

    <!-- Team Members and Links -->
    section id="about-author">
        <h2>About the Author</h2>
        <p>This project was a solo endeavor, and it was developed by Elizabeth Muthoni.</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/elizabeth-muthoni-44a378129/">[Your LinkedIn]</a></p>
        <p>GitHub: <a href="https://github.com/LizaImmax">[Your GitHub]</a></p>
        <p>X: <a href="https://twitter.com/immaxliza">[Your Twitter]</a></p>
    </section>

    <!-- GitHub Repository Link -->
    <section id="github-link">
        <h2>GitHub Repository</h2>
        <p>Explore my project on GitHub: <a href="https://github.com/LizaImmax/Mood-Journal">Mood Journal on GitHub</a></p>
    </section>

</body>
</html>